@media (min-width: $mediumDevices) {
    .before-rating {
        &__stars {
            margin-right: .5rem;
        }
        &__star {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
