.before-rating {

    &__line {
    }

    &__stars {
        position: relative;
        top: .125rem;

        display: inline-flex;
        margin-right: .25rem;
    }

    &__star {
        display: block;
        width: 1rem;
        height: 1rem;
        margin-right: .25rem;

        background: url("/img/star-1.svg") center center / cover;

        &:last-child {
            margin-right: 0;
        }
    }

    &__paragraph {
        padding-top: .5rem;

        line-height: 1.25rem;
        font-size: .875rem;
    }
}


