@media (min-width: $smallDevices) {
    .search-bar {
        &__item {
            display: flex;
            align-items: center;
        }
    }
}

@media (min-width: $largeDevices) {
    .search-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
