.search-bar {
    position: relative;
    &__item {
        padding-top: .25rem;
        max-width: 100%;
    }
    &__header {
        font-size: 1.125rem;
    }
    &__select, &__input {
        width: 100%;

        border-radius: 0.125rem;
        border: 0.063rem solid $gray-light-2;
        background-color: $white;
    }

    &__list {
        @include scrollbar;

        max-height: 300px;
        overflow-y: auto;
    }
}

