@media (min-width: $smallDevices) {
    .search-bar {
        &__item {
            display: flex;
            align-items: center;
        }

        &__label {
            flex-basis: 7rem;
            min-width: 7rem;
            margin-bottom: 0;
            font-size: .75rem;
        }
        &__input-wrapper {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            margin-right: .5rem;
        }
    }
}

@media (min-width: $largeDevices) {
    .search-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;


        &__label {

            flex-basis: unset;
            display: block;
            margin-right: .5rem;
            font-size: .875rem;
        }

        &__input, &__select {
            width: unset;
            min-width: 19rem;
        }
    }
}
