.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3rem - 4.25rem - 4rem);

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__status {
        position: relative;

        font-size: 1.25rem;
        color: $dark-blue;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -.625rem;

            display: block;
            width: .125rem;
            height: 2rem;
            background-color: $dark-blue;

            transform: translateY(-50%);
        }
    }

    &__message {
        padding-left: 1rem;
        font-size: 1.25rem;
        color: $dark-blue
    }
}

@media (min-width: $largeDevices) {
    .error {
        height: calc(100vh - 5.3rem - 4.25rem - 4rem);

        &__status {

            font-size: 2rem;

            &::after {
                right: -.75rem;

                width: .25rem;
                height: 3rem;
            }
        }

        &__message {
            font-size: 2rem;
        }
    }
}
