@media (min-width: $smallDevices) {
    .videos {
        &__iframe-wrapper {

        }

        &__item {
            max-width: 50%;
        }
    }
}

@media (min-width: $largeDevices) {
    .videos {
        &__player {
            top: 5.3rem;

            height: calc(100vh - 5.3rem);

            &--disable {
                height: 0;
            }
        }
    }
}

@media (min-width: $extraLargeDevices) {
    .videos {
        &__item {
            max-width: 33%;
        }
    }
;
}
