.edit-window {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $dark-a50;
    backdrop-filter: blur(4px);
    cursor: pointer;

    &__content {
        @include scrollbarAdmin;

        padding: 1rem;
        max-width: 80%;
        min-width: 60%;
        max-height: 80%;
        min-height: 60%;

        background-color: $light;
        border-radius: .25rem;

        overflow-y: auto;
        cursor: auto;
    }
}
