.form {
    position: fixed;
    z-index: 10;
    top: 3rem;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 3rem);

    background-color: $black-a5;

    transition: .25s all;

    &--disable {
        height: 0;
        z-index: -1;
        opacity: 0;

    }

    &__wrapper {
        position: relative;

        max-width: 100%;
        min-width: 60%;
        max-height: calc(80vh - 3rem);
        padding: 1.5rem 2rem;

        background-color: $white;

        overflow-y: auto;
    }

    &__header {
        padding-bottom: .625rem;
        margin-bottom: .875rem;

        font-size: 1.375rem;
        font-weight: 400;

        border-bottom: 0.063rem solid $gray;

        &--no-border {
            border: none;
            margin-bottom: 0;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;

        margin-bottom: .625rem;
    }

    &__label {
        display: block;
        margin-bottom: .25rem;

        color: $black;
        font-size: 0.75rem;
        font-weight: 400;

        &--hidden {
            height: 0;
            margin: 0;
            visibility: hidden;
        }
    }

    &__input {
        padding: .75rem;

        font-size: .875rem;

        border-radius: 0.125rem;
        border: 0.063rem solid $gray-light-2;
        background-color: white;
    }

    &__textarea {
        padding: .75rem;

        font-size: .875rem;

        border-radius: 0.125rem;
        border: 0.063rem solid $gray-light-2;
        background-color: white;

        resize: vertical;
    }

    &__important {
        display: block;
        margin-bottom: 1.5rem;

        color: $black;
        font-size: 0.75rem;
        font-weight: 400;
    }
    &__errors {
        margin-bottom: .5rem;
    }
}
