* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.b-dark {
    background-color: $dark-a100;
}

.c-dark {
    color: $dark-a100;
}

.c-white {
    color: $white;
}

.h-silver {
    &:hover {
        color: $silver-a100;
    }
}
