.pagination > li > a
{
    background-color: white;
    color: $dark-a100;
}
.pagination-wrapper {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: $dark-a100 !Important;
    border: solid 1px $dark-a100 !Important;
}

.pagination > .active > a:hover
{
    background-color: $dark-a100 !Important;
    border: solid 1px $dark-a100;
}
