.btn {
    @include reset-button;

    color: $white;
    font-size: 0.875rem;
    font-weight: 700;
    cursor: pointer;

    border-radius: 0.125rem;

    &--wide {
        min-width: 13rem;
    }

    &--medium {
        width: 9rem;
    }

    &--search {
        display: none;
    }
}

@media (min-width: $smallDevices) {
    .btn {
        &--search {
            display: unset;
        }
    }
}
