.close {
    position: absolute;
    top: .3rem;
    right: .25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;

    &::before, &::after {
        content: '';
        display: block;
        height: .25rem;
        width: 100%;

        background-color: $gray;
        border-radius: .125rem;

        transform-origin: 0 0;
    }

    &::before {
        transform: rotate(45deg)  translateX(3px);
    }
    &::after {
        transform: rotate(-45deg) translateY(-.5px);
    }
}
