.h {
    color: $black;
    font-weight: 700;

    &--main {
        font-size: 1.25rem;
    }

    &--side {
        font-size: 1.25rem;
    }

    &--page {
        display: inline;
        line-height: 1.25rem;
        font-size: 1.125rem;
    }

    &--regular {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
}


@media (min-width: $mediumDevices) {
    .h {
        &--main {
            font-size: 1.5rem;
        }
        &--side {
            font-size: 1.5rem;
        }
        &--page {
            line-height: 1.5rem;
            font-size: 1.375rem;
        }
    }
}
