.h {
    color: $black;
    font-weight: 700;

    &--main {
        font-size: 1.25rem;
    }

    &--side {
        font-size: 1.25rem;
    }
}


@media (min-width: 768px) {
    .h {
        &--main {
            font-size: 1.5rem;
        }
        &--side {
            font-size: 1.5rem;
        }
    }
}

//@media (min-width: 992px) { ... }

//@media (min-width: 1200px) { ... }
