.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    & > li {
        display: inline;

        & > a, & > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: $dark-blue;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }
        &:first-child > a, &:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child > a, &:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        & > a:hover, & > span:hover, & > a:focus, & > span:focus {
            color: black;
            background-color: #eee;
            border-color: #ddd;
        }
    }
    & > .active {
        & > a, & > span, & > a:hover, & > span:hover, & > a:focus, & > span:focus {
            z-index: 2;
            color: #fff;
            cursor: default;
            background-color: $dark-blue;
            border-color: $dark-blue;
        }
    }

    & > .disabled {
        & > a, & > span, & > a:hover, & > span:hover, & > a:focus, & > span:focus {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd;
        }
    }

}
@media (max-width: $smallDevices) {
    .pagination {
        & > li > a, & > li > span {
            padding: 5px 10px;
            font-size: 12px;
        }
        & > li:first-child > a, & > li:last-child > span {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        & > > li:last-child > a, &  > li:last-child > span {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}

