html {
    font-size: 16px;
}

* {
    font-family: "Arial";
    box-sizing: border-box;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
