.text {
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }

    &-black {
        font-weight: 900;
    }

    &-norm {
        font-weight: 400;
    }

}

.c {
    &-white {
        color: $white;
    }
    &-red {
        color: $red;
    }

    &-orange-light {
        color: $orange-light;
    }
}
