// Colors


$dark-blue: rgb(54, 70, 87);
$orange-light: rgb(251, 146, 98);
$orange: rgb(248, 94, 29);
$black: rgb(0, 0, 0);
$black-a5: rgba(0,0,0, .5);
$white: rgb(255, 255, 255);
$red: rgb(235, 25, 6);
$green: rgb(101, 204, 118);
$yellow: rgb(248, 185, 67);
$yellow-light: rgb(253, 232, 154);

$gray: rgb(196, 196, 196);
$gray-dark: rgb(54, 70, 87);
$gray-light: rgb(240, 240, 241);
$gray-light-2: rgb(229, 229, 229);

$gray-light-3: rgb(252, 252, 253);
$gray-light-3-a3: rgba(252, 252, 253, 0.3);

//Adaptive

$smallDevices: 576px;
$mediumDevices: 768px;
$largeDevices: 992px;
$extraLargeDevices: 1200px;

