.filter-bar {
    padding: 0 .5rem;
    min-height: 3rem;
    display: flex;
    align-items: center;

    &__button {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    }

    &__form-wrapper {
        margin-left: 1rem;
    }
}
