@media (min-width: $ultraSmallDevices) {
    .articles {
        &__list-item {
            max-width: 25rem;
        }
    }
}

@media (min-width: $mediumDevices) {
    .articles {
        &__list-item {
            max-width: unset;
            width: 100%;

        }
        &__anchor-link {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }
        &__img {
            margin-right: .5rem;
            max-width: 320px;
            max-height: 220px;
        }

        &__content {
            padding-top: 0;
        }

        &__card-body {
            display: unset;
        }

        &__card-image {
            margin-bottom: .5rem;
            margin-right: .5rem;
            float: left;
        }
    }
}
